:root {
  --light-color: #DBEDF3;
  --accent-color: #DA0463;
  --bg-color: #283149;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 5rem;
  color: var(--light-color);
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 var(--accent-color);
}

.cat {
  background-image: url('images/Cat.jpg');
  background-size: cover;
}

.download {
  background-image: url('images/download.jpg');
  background-size: cover;
}

.cow {
  background-image: url('images/Cow.jpg');
  background-size: cover;
}

.buffalo {
  background-image: url('images/Buffalo.jpg');
  background-size: cover;
}

.lion {
  background-image: url('images/Lion.jpg');
  background-size: cover;
}

.elephant {
  background-image: url('images/Elephant.jpg');
  background-size: cover;
}

.horse {
  background-image: url('images/Horse.jpg');
  background-size: cover;
}

.set {
  margin: 10% auto;
  width: auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 var(--light-color);
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 2.5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: var(--accent-color);
  text-shadow: 3px 0 var(--light-color);
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}

.v {
  text-align: center;
}

td, p {
  padding: 10px;
  font-size: 20px;
  font-family: 'Arvo', cursive;
  color: var(--light-color);
}
